{% extends "blog/base.html" %} {% load static %} {% block content %}
<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta nesciunt
    fuga perferendis sint repellendus ipsam, quod, placeat necessitatibus, quasi
    porro fugiat distinctio voluptatibus iure odio ea. Itaque odio nemo facere.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque
    optio error nulla illo! Totam animi hic rerum maxime natus a neque ratione
    pariatur in? Temporibus quae eos dolores in dicta adipisci placeat repellat
    explicabo quia quos veritatis expedita fuga hic voluptas deserunt rem nemo,
    doloribus doloremque asperiores. Quo, doloribus.
  </p>
</div>

{% endblock content %}
